<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- linking bootsrtap4 folders -->
	{% load static %}  
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
 
   <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
   <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/jquery.bootstrap.modal.forms.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
   <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/login.js' %}"></script>
    <style> 
	@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css););
	</style>
    <!--script>alert();</script -->  
	

	<title>Home Page</title>
</head>

{% block content %} 
<body class="bodycolor" >
	<div class= "container">
		<div class = "row" ><br/>
		</div>
	</div>
	<div class= "container">
		<div class = "row" ><br/>
		</div>
	</div>
	<div class= "container">
		<div class = "row" ><br/>
		</div>
	</div>
	<div class= "container">
		<div class = "row" >
			<div class="col-8 offset-2  align-self-center" style="margin: auto; display: block;">



			 
				<div class= "card rounded">
					<h1 class="card-header text-center text-font"> TRACK AND TRIGGER </h1>
					<div class="card-body align-self-center" >
						<div class="col-12 text-center">
						<button class ="btn btn-rose1 btn-lg text-white" id="Button" ><i class="fa fa-sign-in open"></i>  Login</button>
                    </div>
                    <br>
                    <div class="col-12 text-xl-center">
						<button class ="btn btn-skyblue btn-lg text-white" id="Buttonsign"><span class="fa fa-user-plus open"></span> <a href="/login/signup/">Sign Up</a></button>
                    </div>
					</div>
				</div>
				
				
			</div>

		</div>
	</div>
	<div id="loginModal" class="modal" role="dialog">
        <div class="modal-dialog modal-lg" role="content">
            <div class="modal-content">
                <div class="modal-header" id="loginclose">
                	<div class ="align-self-center">
                    	<h4 class="modal-title">Login</h4>
                    </div>
                    <button type="button" class="close">&times;</button>
                </div>
                <div class="modal-body">
                    <form method = "POST" action = "{% url 'dashboard' %}">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="form-group col-sm-4">
                                    <label class="sr-only" for="Username">Username</label>
                                    <input type="text" class="form-control form-control-sm mr-1" id="Username3" name = "user_name"placeholder="Enter username">
                            </div>
                            <div class="form-group col-sm-4">
                                <label class="sr-only" for="Password">Password</label>
                                <input type="password" class="form-control form-control-sm mr-1" id="Password3" name = "password" placeholder="Password">
                            </div>
                            <div class="col-sm-auto">  
                                  <div class="form-check">
                                    <label><input type="checkbox" class="form-check-input align-self-center"> Remember Me</label>
                                </div> 
                            </div>
                        </div>
                        <div class="form-row" id="logincancel">
                            <button type="submit" class="btn btn-rose2 text-white btn-sm ml-1">Log in</button>        
                        </div>
                        <hr>
                        <div class ="form-row" id= "sitelogin" >
                        	<div class="form-group col-12 text-center">
                                  <button type="button" class="btn btn-purple1 text-white"><span class="fa fa-google open"></span><a href="{% url 'social:begin' 'google-oauth2'%}">Google</a></button>
                        	
                                    <button type="button" class="btn btn-purple2 text-white"><span class="fa fa-facebook open"></span><a href="{% url 'social:begin' 'facebook' %}">Facebook</a></button>
                            
                                    <button type="button" class="btn btn-purple3 text-white"><span class="fa fa-instagram open"></span>   Instagram</button>
                                
                            </div>
                        </div>
                    </form>
                    
                </div>
            </div>
        </div>
    </div>
    




   
<script type="text/javascript">
    $('#Buttonsign').click(function(){
                $('#signupModal').modal('show');

            
            });

        
            $('#signupclose').click(function(){
                if($('#signupclose').children('button').hasClass('close')){
                    $('#signupModal').modal('hide') ;
                    }

            });
            $('#signupcancel').click(function(){
                if($('#signupcancel').children('button')){
                    $('#signupModal').modal('hide') ;
                    }

            });
</script>



</body>
{% endblock %}
</html>
