<!DOCTYPE html>

<html lang="en"> 
<head>
      <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <!-- build:css css/main.css -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <!--link rel="stylesheet"  href="node_modules/bootstrap-social/bootstrap-social.css"-->
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
     <style> 
    @import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css););
    </style>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>


    <!-- endbuild -->
    <title>Tracker</title>
</head>

<body class="bodycolor">
<nav class="navbar navbar-dark navbar-expand-sm  fixed-top" >
    <div class="container">
        
        <a class="navbar-brand mr-auto open" href="#">   T&T</a>
       
            <div class="offset-11">
            <span class="navbar-text">
                <a class ="btn" id="Button" href="userprofile.html"><span class="fa fa-user open"></span>   User Profile</a>
            </span>
        </div>
    </div>
   
    
</nav>

<div class="wrapper">
    <div class="sidebar">
      <!--
        Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red"
    -->
      <div class="sidebar-wrapper">
        
        <ul class="nav">
          <li>
            <a href="index.html">
              <p>Dashboard</p>
            </a>
          </li>
          <li class="active">
            <a href="#">
              
              <p>Track</p>
            </a>
          </li>
          <li>
            <a href="trigger.html">
            
              <p>Trigger</p>
            </a>
          </li>
          <li>
            <a href="userprofile.html">
              
              <p>User Profile</p>
            </a>
          </li>
          <li>
            <a href="#">
              
              <p>Logout</p>
            </a>
          </li>
          </ul>
      </div>
    </div>

</div>
  <div class="main-panel">

<div class="content">
  <div class="row">
          <div class="col-md-8">
            <div class="card">
              <div class="card-header">
                  <h3 class="text-purple title">Inventory List</h3>
              </div>
              <div class="card-body">  
            <form @submit.prevent="addItem">
            <input v-model="newItem" class="form-control" placeholder="Enter your Item">
        </form>
        
        <hr>

        <ul class="list-group">
          <li v-for="(item, index) in items" :key="index" class="card list-group-item">
            <button class="btn btn-xs btn-darkviolet text-white" @click="removeItem(index)">Delete</button>
            
            {{ (index + 1) }}. {{ item.name }}  
            <input class="pull-right text-right card" style="width:50%" v-model="item.price">
          </li>
          <li class="list-group-item"> 
            <h4> Total  <span class="pull-right">{{ total }}</span></h4> 
          </li>
        </ul>
      </div>
    </div>
  </div>
              </div>
            </div>
          </div>
    </div>
  </div>
  <script src="{% static 'js/script.js' %}"></script>


</div>
<script>

    var app = new Vue({
      el: '#app',
      computed: {
        total() {
          var total = 0
          this.items.forEach(item => {
            total = total + parseFloat(item.price)
          })
          return total
        }
      },
      data: {
        items: [],
        newItem: ''
      },
      methods: {
        addItem() {
          this.items.push({
            name: this.newItem,
            price: 0.00
          })
          this.newItem = ''
        },
        removeItem(index) {
          this.items.splice(index, 1)
        }
      }
    })

  </script>

</body>
</html>